In [13]:
# Import necessary libraries
import pandas as pd

In [14]:
# Load the dataset
df = pd.read_csv('cox-violent-parsed.csv')

In [15]:
df.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,1.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,0,327,0
1,2.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,334,961,0
2,3.0,michael ryan,michael,ryan,31/12/2014,Male,06/02/1985,31,25 - 45,Caucasian,...,Risk of Violence,2,Low,31/12/2014,30/12/2014,03/01/2015,0,3,457,0
3,4.0,kevon dixon,kevon,dixon,27/01/2013,Male,22/01/1982,34,25 - 45,African-American,...,Risk of Violence,1,Low,27/01/2013,26/01/2013,05/02/2013,0,9,159,1
4,5.0,ed philo,ed,philo,14/04/2013,Male,14/05/1991,24,Less than 25,African-American,...,Risk of Violence,3,Low,14/04/2013,16/06/2013,16/06/2013,4,0,63,0

In [16]:
# List of columns to remove (replace with the actual columns you want to remove)
columns_to_remove = ['start', 'end', 'id', 'in_custody', 'out_custody']

# Remove the specified columns
df.drop(columns=columns_to_remove, inplace=True)

In [17]:
# Drop duplicate rows
df.drop_duplicates(inplace=True)

In [18]:
df['is_recid'] = df['is_recid'].replace(-1, 0)

In [19]:
# Re-add the 'id' column with new unique values
df.reset_index(drop=True, inplace=True)
df.insert(0, 'id', range(1, 1 + len(df)))

# Save the processed data to a new CSV file
df.to_csv('processed_data.csv', index=False)

print("Preprocessing complete. The processed file is saved as 'processed_data.csv'.")

Preprocessing complete. The processed file is saved as 'processed_data.csv'.

In [20]:
df.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,type_of_assessment,decile_score.1,score_text,screening_date,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,priors_count.1,event
0,1,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Recidivism,1,Low,14/08/2013,Risk of Violence,1,Low,14/08/2013,0,0
1,2,michael ryan,michael,ryan,31/12/2014,Male,06/02/1985,31,25 - 45,Caucasian,...,Risk of Recidivism,5,Medium,31/12/2014,Risk of Violence,2,Low,31/12/2014,0,0
2,3,kevon dixon,kevon,dixon,27/01/2013,Male,22/01/1982,34,25 - 45,African-American,...,Risk of Recidivism,3,Low,27/01/2013,Risk of Violence,1,Low,27/01/2013,0,1
3,4,ed philo,ed,philo,14/04/2013,Male,14/05/1991,24,Less than 25,African-American,...,Risk of Recidivism,4,Low,14/04/2013,Risk of Violence,3,Low,14/04/2013,4,0
4,5,marcu brown,marcu,brown,13/01/2013,Male,21/01/1993,23,Less than 25,African-American,...,Risk of Recidivism,8,High,13/01/2013,Risk of Violence,6,Medium,13/01/2013,1,0

In [21]:
class_counts = df['score_text'].value_counts()

# Print the counts
print("Class counts:")
print(class_counts)

Class counts:
Low       6258
Medium    2845
High      2183
Name: score_text, dtype: int64

In [22]:
recidivism_class_counts = df['decile_score'].value_counts()

# Print the counts
print("Recividism Class counts:")
print(recidivism_class_counts)

Recividism Class counts:
 1     2417
 2     1485
 3     1195
 4     1161
 5      996
 6      965
 7      884
 8      796
 9      781
 10     606
-1       14
Name: decile_score, dtype: int64

In [23]:
race_class_counts = df['race'].value_counts()

# Print the counts
print("Race Class counts:")
print(race_class_counts)

Race Class counts:
African-American    5641
Caucasian           3902
Hispanic            1044
Other                617
Asian                 58
Native American       38
Name: race, dtype: int64

In [24]:
recidivism_class_counts = df['is_recid'].value_counts()

# Print the counts
print("Recidivism Class counts:")
print(recidivism_class_counts)

Recidivism Class counts:
0    7528
1    3772
Name: is_recid, dtype: int64